node_modules
.next
out
build
dist

# env
.env
.env*

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea
.DS_Store

# next
next-env.d.ts
.tsbuildinfo
*.tsbuildinfo
